.promo-strip {
  padding: 2rem 0;
  background: #e0e0e0;

  &__inner {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
    color: #161616;
  }

  &__desc {
    font-size: 0.875rem;
    color: #525252;
    margin: 0;
  }
}
